Data/Migration of male and female red-backed shrikes from southern Scandinavia (data from Pedersen et al. 2019).csv
Data/Migration of red-backed shrike populations (data from Pedersen et al. 2020).csv
Data/Migration of red-backed shrikes from southern Scandinavia (data from Pedersen et al. 2018).csv
Data/Migration of red-backed shrikes from the Iberian Peninsula (data from Tttrup et al. 2017).csv
Data/Migration of red-backed shrikes.csv
